# This affects access control for clients with no username.
topic read $SYS/#

# This only affects clients with username "roger".
user roger
topic foo/bar

# This affects all clients.
# Note that this is the only topic it is possible to grant access to writing to
# the $SYS tree. All other topics are always denied.
pattern write $SYS/broker/connection/%c/state
